body {
    background-color: black;
}

textarea {
    background-color: black;
    color: white;
}

input[id="chat-message-input"]{
    background-color: black;
    color: white;
}

input[id="chat-message-submit"]{
    background-color: black;
    color: white;
}

h1 {
    color: white;
}