body {
    background: url('/static/img/index.jpg') 50% 0 no-repeat fixed;
    background-color: black;
    background-position: left 0% bottom 0%;
    color: white;
}

textarea {
    background-color: black;
    color: white;
}

input[id="chat-message-input"]{
    background-color: black;
    color: white;
}

input[id="chat-message-submit"]{
    background-color: black;
    color: white;
}

h1 {
    color: white;
}
